<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Font Awesome JS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/7e9c096915.js"
      crossorigin="anonymous"
    ></script>

    <!-- plyr.js Styles -->

    <link rel="stylesheet" href="../css/course.css" />
    <link rel="stylesheet" href="../css/course-responsive.css" />

    <title>Learn | Code</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light-top">
      <a class="navbar-brand" id="logo" href="/">Code Skools</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Courses <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://codeskools.com/about-us-2/"
              target="_blank"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="http://codeskools.com/contact-us/"
              target="_blank"
              >Contact</a
            >
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown pr-4">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fas fa-user-astronaut"></i>
              <%= user %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Dashboard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar" class="active">
        <div class="sidebar-header">
          <h3>Code Skools</h3>
        </div>
        <ul class="list-unstyled components">
          <!-- Course Title -->
          <p class="mb-0"><%= course.title%></p>
          <!-- Course progress -->
          <div class="progress mr-4 ml-2 mb-1">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 5%;"
              aria-valuenow="5"
              aria-valuemin="0"
              aria-valuemax="100"
              style="color: greenyellow;"
            >
              5%
            </div>
          </div>
          <!-- Course modules -->

          <% for(let i = 0; i < modules.length; i++){ %> <% let module =
          modules[i] %>

          <li class="active">
            <a
              href="#module<%= i %>Submenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle fit-me"
              >Unit <%= i %> - <%= module.title %>
              <i class="ml-2 fa-lg fas fa-check-circle text-success"></i
            ></a>
            <ul class="collapse list-unstyled" id="module<%= i %>Submenu">
              <% for(let x = 0; x < module.Lessons.length; x++){ %> <% let
              lesson = module.Lessons[x] %>
              <li>
                <a
                  href="#"
                  class="lessonChosen"
                  data-video="<%= lesson.video %>"
                  data-main-ideas="<%= lesson.concepts %>"
                  data-lesson-title="<%= lesson.name %>"
                  data-lesson-type="<%= lesson.type %>"
                  ><%= lesson.name %>
                  <i class="ml-2 fas fa-check-circle text-success"></i
                ></a>
              </li>
              <% } %>
            </ul>
          </li>
          <% } %>
        </ul>
      </nav>

      <!-- Page Content -->
      <div id="content" class="container text-center mx-auto mt-5">
        <!-- title -->
        <h2 class="text-aling-center" id="lesson-title">Getting Set Up</h2>
        <!-- side panel toggle -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-book fa-2x"></i>
            </button>
          </div>
        </nav>
        <!-- Lesson content -->
        <div id="lesson-content">
          <div id="document-lesson">
            <h3>
              Make Sure all Systems are a Go <i class="fas fa-check-square"></i>
            </h3>
            <ul class="check-list">
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/15kBQ6jsZ4-ag1NOhJ3pvfNT1EIiy08Qa92ulDjpXk3c/edit#heading=h.tnqqizsem0o5"
                  >Step 1: Get Started</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/1LB_80QN9JngHWl1J5EjyXVGWBi3Vnh4eDiVbdN_k5gY/edit#heading=h.h09g3e9lumwr"
                  >Step 2: Install Your Tools</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/1BuNcEwS4aqUi6GFMMuqE7MApVfxvtjg1l070HUwJr7w/edit#heading=h.8u7ajmfpb7vp"
                  >Step 3: Deploy Today!</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/1TLJlu5Xh3Ff4lFZ9KMemXeEd0nqvdM5LKjUMXZzF3Gg/edit#heading=h.vyjmmxq8m0wl"
                  >Step 4: HTML Basics</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/1CVCZ0HWhE5_UYI02BYEtTCvgeDggI7pHNSmaE_rB5BQ/edit#heading=h.4byay89v2cr8"
                  >Step 5: CSS Basics</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/1BQ1YnehWGHCaeGtyQRBPZ1Huusug3SCcVryXfKIpv58/edit?usp=sharing"
                  >Step 6: JavaScript Basics</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/19-I4XgcCossnYQkWUp6acE0Mqt81I5pB3BtTVa93u7g/edit?usp=sharing"
                  >Step 7: Introduction to Programming Logic</a
                >
              </li>
              <li class="pre-check">
                <a
                  href="https://docs.google.com/document/d/1afhht77jXymcwGZF-Qdq52eccGih-A_9qn-GpaP3U94/edit?usp=sharing"
                  >Step 8: Debugging Your Code</a
                >
              </li>
            </ul>
          </div>

          <div id="video-lesson">
            <iframe
              src=""
              width="950"
              height="500"
              style="border: 1px solid #464646;"
              allowfullscreen
              allow="autoplay"
            >
            </iframe>
          </div>
        </div>

        <!-- main ideas button -->
        <div id="main-ideas">
          <a href="#"> <i class="fas fa-lightbulb"></i> Main Ideas</a>
        </div>

        <!-- slack and repo links-->
        <div id="important-links">
          <a
            href="https://github.com/UCF-Coding-Boot-Camp/UCF-VIRT-FSF-PT-11-2019-U-LOL"
            target="_blank"
            ><i class="fab fa-github-alt"></i> Repo</a
          >
          |
          <a
            href="https://app.slack.com/client/TNZ6P59Q9/CSGJ5C1ST"
            target="_blank"
            ><i class="fab fa-slack"></i> Questions</a
          >
        </div>

        <div id="show-ideas"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script src="../javascript/player.js"></script>
    <script src="../javascript/course.js"></script>
  </body>
</html>
